div {
	width: 150px;
	height: 150px;
	float:left; /*se puede colocar en el div o en cada una de las imagenes por separado*/

/* Agregando imagen*/
}

#BB1{
	background-image: url(../img/bb1_480.jpg); /*fijarse en la ruta de la imagen*/
	background-size: 100%;
}

#BB2{
	background-image: url(../img/bb2_480.jpg); /*fijarse en la ruta de la imagen*/
	background-size: 100%;
}

#BB3{
	background-image: url(../img/bb3_480.jpg); /*fijarse en la ruta de la imagen*/
	background-size: 100%;
}

#BB4{
	background-image: url(../img/bb4_480.jpg); /*fijarse en la ruta de la imagen*/
	background-size: 100%;
}

#BB5{
	background-image: url(../img/bb5_480.jpg); /*fijarse en la ruta de la imagen*/
	background-size: 100%;
}


